server:
  ssl:
    key-store-type: PKCS12
    key-store: classpath:ssl/localhost.p12
    key-store-password: password
    key-alias: localhost
    enabled-protocols: TLSv1.3

management:
  tracing:
    sampling:
      probability: 1.0
    export:
      enabled: true
      zipkin:
        enabled: true
        endpoint: http://localhost:9411/api/v2/spans

spring.ssl.bundle:
  jks:
    catalog:
      truststore:
        location: "classpath:ssl/localhost.p12"
        password: password
        type: PKCS12

library.website:
  rest-client:
    catalog:
      base-url: https://localhost:8080
      ssl-enabled: true
