openapi: 3.0.3
info:
  title: Library Catalog
  description: Provides an API to access the catalog of a library.
  contact:
    email: acarbenay@adhuc.fr
  version: 1.0.0
servers:
  - url: https://catalog.library.adhuc.org/api
tags:
  - name: Books
    description: Access the books in the catalog of the library.
  - name: Authors
    description: Access the authors of the books in the catalog of the library.
paths:
  /v1/catalog:
    get:
      tags:
        - Books
      summary: Gets a paginated list of books based on filters.
      description: The catalog can be sorted and filtered in many different ways.
      operationId: getCatalog
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '206':
          $ref: '#/components/responses/Catalog'
        '400':
          $ref: '#/components/responses/InvalidPaginationParameters'
        '500':
          $ref: '#/components/responses/GeneralError'
  /v1/editions/{isbn}:
    get:
      tags:
        - Books
      summary: Gets the details of a book edition based on its ISBN.
      description: |
        The details of an edition contain all its information and the relation to
        its authors.
      operationId: getEdition
      parameters:
        - $ref: '#/components/parameters/ISBN'
      responses:
        '200':
          $ref: '#/components/responses/EditionDetails'
        '400':
          $ref: '#/components/responses/InvalidEditionISBN'
        '404':
          $ref: '#/components/responses/UnknownEdition'
        '500':
          $ref: '#/components/responses/GeneralError'
  /v1/authors/{id}:
    get:
      tags:
        - Authors
      summary: Gets the details of an author based on its identity.
      description: |
        The details of an author contain all its information and the relation to
        its written books.
      operationId: getAuthor
      parameters:
        - $ref: '#/components/parameters/AuthorId'
      responses:
        '200':
          $ref: '#/components/responses/AuthorDetails'
        '400':
          $ref: '#/components/responses/InvalidAuthorId'
        '404':
          $ref: '#/components/responses/UnknownAuthor'
        '500':
          $ref: '#/components/responses/GeneralError'
components:
  parameters:
    ISBN:
      name: isbn
      description: Book edition ISBN.
      in: path
      required: true
      schema:
        type: string
        format: isbn
        example: 9782081275232
    AuthorId:
      name: id
      description: Author identity.
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 99287cef-2c8c-4a4d-a82e-f1a8452dcfe2
    Page:
      name: page
      description: |
        Page number to retrieve from the collection, starting from 0. This
        parameter must be used in combination with the *size* parameter to
        specify the number of elements in a page.
      in: query
      required: false
      schema:
        type: number
        minimum: 0
        default: 0
        example: 2
    PageSize:
      name: size
      description: |
        Size of the page to retrieve from the collection. This parameter must be
        used in combination with the *page* parameter to specify the current page.
      in: query
      required: false
      schema:
        type: number
        minimum: 1
        default: 50
        example: 50
  responses:
    Catalog:
      description: Books returned from catalog.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Catalog'
        application/hal+json:
          schema:
            $ref: '#/components/schemas/Catalog'
    EditionDetails:
      description: A book edition details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EditionDetails'
        application/hal+json:
          schema:
            $ref: '#/components/schemas/EditionDetails'
    InvalidEditionISBN:
      description: Invalid edition ISBN.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            invalidId:
              $ref: '#/components/examples/InvalidISBN'
    UnknownEdition:
      description: No edition corresponds to the specified identity.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            unknown:
              $ref: '#/components/examples/UnknownEdition'
    AuthorDetails:
      description: An author details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorDetails'
        application/hal+json:
          schema:
            $ref: '#/components/schemas/AuthorDetails'
    InvalidAuthorId:
      description: Invalid author ID.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            invalidId:
              $ref: '#/components/examples/InvalidUUIDId'
    UnknownAuthor:
      description: No author corresponds to the specified identity.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            unknown:
              $ref: '#/components/examples/UnknownAuthor'
    InvalidPaginationParameters:
      description: Invalid pagination parameters.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            pageNumber:
              $ref: '#/components/examples/InvalidPageNumber'
            pageSize:
              $ref: '#/components/examples/InvalidPageSize'
    GeneralError:
      description: General unexpected error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Catalog:
      type: object
      required:
        - page
        - '_links'
      properties:
        page:
          $ref: '#/components/schemas/Page'
        '_embedded':
          type: object
          readOnly: true
          required:
            - editions
            - authors
          properties:
            books:
              description: |
                The book editions collection, containing basic information for each edition.
                This property is deprecated in favor of editions and will be removed soon.
              type: array
              deprecated: true
              items:
                $ref: '#/components/schemas/Edition'
            editions:
              description: The book editions collection, containing basic information for each edition.
              type: array
              items:
                $ref: '#/components/schemas/Edition'
            authors:
              description: The authors related to the books in the collection.
              type: array
              items:
                $ref: '#/components/schemas/Author'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=2&size=50'
            template:
              description: Link to the template of catalog page.
              type: object
              required:
                - href
                - templated
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog{?page,size}'
                templated:
                  type: boolean
                  enum:
                    - true
            prev:
              description: Link to the previous catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=1&size=50'
            next:
              description: Link to the next catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=3&size=50'
            first:
              description: Link to the first catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=0&size=50'
            last:
              description: Link to the last catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=8&size=50'
    Edition:
      type: object
      required:
        - isbn
        - title
        - authors
        - language
        - summary
        - '_links'
      properties:
        isbn:
          $ref: '#/components/schemas/ISBN'
        title:
          $ref: '#/components/schemas/Title'
        authors:
          $ref: '#/components/schemas/BookAuthors'
        language:
          $ref: '#/components/schemas/Language'
        summary:
          $ref: '#/components/schemas/Summary'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this edition. Can be used to see the details of this edition.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/editions/baa19c4e-a347-45bd-8caf-e150aa8203e9'
    EditionDetails:
      type: object
      required:
        - isbn
        - title
        - publication_date
        - language
        - summary
        - '_links'
      properties:
        isbn:
          $ref: '#/components/schemas/ISBN'
        title:
          $ref: '#/components/schemas/Title'
        publication_date:
          $ref: '#/components/schemas/PublicationDate'
        language:
          $ref: '#/components/schemas/Language'
        summary:
          $ref: '#/components/schemas/Summary'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this edition. Can be used to see the details of this edition.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/editions/baa19c4e-a347-45bd-8caf-e150aa8203e9'
        '_embedded':
          type: object
          readOnly: true
          required:
            - authors
          properties:
            authors:
              description: The authors related to the book.
              type: array
              items:
                $ref: '#/components/schemas/Author'
    ISBN:
      type: string
      format: isbn
      example: 9782081275232
    Title:
      type: string
      example: Du contrat social
    PublicationDate:
      type: string
      description: |
        The publication date can be either an exact date, in 'yyy-MM-dd' format,
        or a year, either negative (BC) or positive (AD).
      example: 1762
    BookAuthors:
      type: array
      items:
        $ref: '#/components/schemas/AuthorId'
    Author:
      type: object
      required:
        - id
        - name
        - '_links'
      properties:
        id:
          $ref: '#/components/schemas/AuthorId'
        name:
          $ref: '#/components/schemas/AuthorName'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this author. Can be used to see the detail of this author.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/authors/99287cef-2c8c-4a4d-a82e-f1a8452dcfe2'
    AuthorDetails:
      type: object
      required:
        - id
        - name
        - date_of_birth
        - '_links'
      properties:
        id:
          $ref: '#/components/schemas/AuthorId'
        name:
          $ref: '#/components/schemas/AuthorName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        date_of_death:
          $ref: '#/components/schemas/DateOfDeath'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this author. Can be used to see the detail of this author.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/authors/99287cef-2c8c-4a4d-a82e-f1a8452dcfe2'
        '_embedded':
          type: object
          readOnly: true
          required:
            - notable_books
          properties:
            books:
              description: The author's books, containing basic information for each book.
              type: array
              items:
                $ref: '#/components/schemas/Edition'
    AuthorId:
      type: string
      format: uuid
      example: 99287cef-2c8c-4a4d-a82e-f1a8452dcfe2
    AuthorName:
      type: string
      example: Jean-Jacques Rousseau
    DateOfBirth:
      type: string
      format: date
      example: 1712-06-28
    DateOfDeath:
      type: string
      format: date
      example: 1778-07-02
    Language:
      type: string
      example: French
    Summary:
      type: string
      example: >
        Paru en 1762, le Contrat social, en affirmant le principe de souveraineté du peuple,
        a constitué un tournant décisif pour la modernité et s'est imposé comme un des textes
        majeurs de la philosophie politique. Il a aussi acquis le statut de monument, plus
        célèbre que connu, plus révéré - ou honni - qu'interrogé. Retrouver, dans les formules
        fameuses et les pages d'anthologie, le mouvement de la réflexion et les questions vives
        qui nourrissent une œuvre beaucoup plus problématique qu'affirmative, c'est découvrir
        une pensée qui se tient au plus près des préoccupations d'aujourd'hui : comment intégrer
        les intérêts de tous dans la détermination de l'intérêt commun ? Comment lutter contre
        la pente de tout gouvernement à déposséder les citoyens de la souveraineté ? Comment
        former en chacun ce sentiment d'obligation sans lequel le lien social se défait ?
    Page:
      type: object
      readOnly: true
      required:
        - size
        - total_elements
        - total_pages
        - number
      properties:
        size:
          description: The requested page size. The number of elements in the current page is between 0 and this size.
          type: number
          example: 50
          minimum: 0
        total_elements:
          description: The number of elements in all pages.
          type: number
          example: 443
          minimum: 0
        total_pages:
          description: The number of pages containing all the elements.
          type: number
          example: 9
          minimum: 0
        number:
          description: The current page, starting at 0.
          type: number
          example: 2
          minimum: 0
    Problem:
      type: object
      required:
        - type
        - status
        - title
        - detail
      properties:
        type:
          type: string
          format: uri-reference
          description: The problem type.
        status:
          type: integer
          description: The HTTP status of the response.
        title:
          type: string
          description: A human-readable summary of the problem type.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        errors:
          type: array
          description: An extension to the problem, providing information about each error.
          items:
            oneOf:
              - type: object
                required:
                  - detail
                  - pointer
                properties:
                  detail:
                    type: string
                    description: The error detail used to determine why the server returned an error.
                  pointer:
                    type: string
                    description: |
                      A JSON pointer (https://datatracker.ietf.org/doc/html/rfc6901) to the associated entity in the request
                      document (e.g. "/" for a primary object, "/name" for a specific attribute named "name").
              - type: object
                required:
                  - detail
                  - parameter
                properties:
                  detail:
                    type: string
                    description: The error detail used to determine why the server returned an error.
                  parameter:
                    type: string
                    description: A string indicating which URI query parameter caused the error.
  examples:
    InvalidPageNumber:
      value:
        type: /problems/invalid-request
        status: 400
        title: Request validation error
        detail: Invalid page number
        errors:
          - detail: 'Numeric instance is lower than the required minimum (minimum: 0, found: -1)'
            parameter: page
      summary: Invalid page number.
    InvalidPageSize:
      value:
        type: /problems/invalid-request
        status: 400
        title: Request validation error
        detail: Invalid page size
        errors:
          - detail: 'Numeric instance is lower than the required minimum (minimum: 1, found: 0)'
            parameter: size
      summary: Invalid page size.
    InvalidUUIDId:
      value:
        type: /problems/invalid-request
        status: 400
        title: Request validation error
        detail: Invalid UUID id
        errors:
          - detail: 'Input string "1234" is not a valid UUID'
            parameter: id
      summary: Invalid UUID passed as id in the path.
    InvalidISBN:
      value:
        type: /problems/invalid-request
        status: 400
        title: Request validation error
        detail: Invalid ISBN
        errors:
          - detail: 'Input string "1234" is not a valid ISBN'
            parameter: isbn
      summary: Invalid UUID passed as id in the path.
    UnknownEdition:
      value:
        type: /problems/unknown-entity
        status: 404
        title: Unknown edition
        detail: No edition exists with ISBN '9782081275232'
      summary: Error when no edition corresponds to the specified ISBN.
    UnknownAuthor:
      value:
        type: /problems/unknown-entity
        status: 404
        title: Unknown author
        detail: No author exists with id '96c7774f-dd6b-43d4-bd0e-6a7d1aad09a4'
      summary: Error when no author corresponds to the specified identity.
