openapi: 3.0.3
info:
  title: Library Catalog
  description: Provides an API to access the catalog of a library.
  contact:
    email: acarbenay@adhuc.fr
  version: 1.0.0
servers:
  - url: https://catalog.library.adhuc.org/api
tags:
  - name: Books
    description: Access the books in the catalog of the library.
paths:
  /v1/catalog:
    get:
      tags:
        - Books
      summary: Gets a paginated list of books based on filters.
      description: The catalog can be sorted and filtered in many different ways.
      operationId: getCatalog
      responses:
        '206':
          $ref: '#/components/responses/Catalog'
components:
  responses:
    Catalog:
      description: Books returned from catalog.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Catalog'
        application/hal+json:
          schema:
            $ref: '#/components/schemas/Catalog'
  schemas:
    Catalog:
      type: object
      required:
        - page
        - '_links'
      properties:
        page:
          $ref: '#/components/schemas/Page'
        '_embedded':
          type: object
          readOnly: true
          required:
            - books
          properties:
            books:
              description: The books collection, containing basic information for each book.
              type: array
              items:
                $ref: '#/components/schemas/Book'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=2&size=50'
            template:
              description: Link to the template of catalog page.
              type: object
              required:
                - href
                - templated
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog{?page,size}'
                templated:
                  type: boolean
                  enum:
                    - true
            prev:
              description: Link to the previous catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=1&size=50'
            next:
              description: Link to the next catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=3&size=50'
            first:
              description: Link to the first catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=0&size=50'
            last:
              description: Link to the last catalog page.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/catalog?page=8&size=50'
    Book:
      type: object
      required:
        - id
        - isbn
        - authors
        - language
        - summary
      properties:
        id:
          $ref: '#/components/schemas/BookId'
        isbn:
          $ref: '#/components/schemas/ISBN'
        authors:
          $ref: '#/components/schemas/Authors'
        language:
          $ref: '#/components/schemas/Language'
        summary:
          $ref: '#/components/schemas/Summary'
        '_links':
          type: object
          readOnly: true
          required:
            - self
          properties:
            self:
              description: Link to this book. Can be used to see the detail of this book.
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  example: 'https://catalog.library.adhuc.org/api/v1/books/baa19c4e-a347-45bd-8caf-e150aa8203e9'
    BookId:
      type: string
      format: uuid
      example: baa19c4e-a347-45bd-8caf-e150aa8203e9
    ISBN:
      type: string
      format: isbn
      example: 9782081275232
    Authors:
      type: array
      items:
        $ref: '#/components/schemas/Author'
    Author:
      type: object
      required:
        - id
        - name
      properties:
        id:
          $ref: '#/components/schemas/AuthorId'
        name:
          $ref: '#/components/schemas/AuthorName'
    AuthorId:
      type: string
      format: uuid
      example: 99287cef-2c8c-4a4d-a82e-f1a8452dcfe2
    AuthorName:
      type: string
      example: Jean-Jacques Rousseau
    Language:
      type: string
      example: French
    Summary:
      type: string
      example: >
        Paru en 1762, le Contrat social, en affirmant le principe de souveraineté du peuple,
        a constitué un tournant décisif pour la modernité et s'est imposé comme un des textes
        majeurs de la philosophie politique. Il a aussi acquis le statut de monument, plus
        célèbre que connu, plus révéré - ou honni - qu'interrogé. Retrouver, dans les formules
        fameuses et les pages d'anthologie, le mouvement de la réflexion et les questions vives
        qui nourrissent une œuvre beaucoup plus problématique qu'affirmative, c'est découvrir
        une pensée qui se tient au plus près des préoccupations d'aujourd'hui : comment intégrer
        les intérêts de tous dans la détermination de l'intérêt commun ? Comment lutter contre
        la pente de tout gouvernement à déposséder les citoyens de la souveraineté ? Comment
        former en chacun ce sentiment d'obligation sans lequel le lien social se défait ?
    Page:
      type: object
      readOnly: true
      required:
        - size
        - total_elements
        - total_pages
        - number
      properties:
        size:
          description: The requested page size. The number of elements in the current page is between 0 and this size.
          type: number
          example: 50
          minimum: 0
        total_elements:
          description: The number of elements in all pages.
          type: number
          example: 443
          minimum: 0
        total_pages:
          description: The number of pages containing all the elements.
          type: number
          example: 9
          minimum: 0
        number:
          description: The current page, starting at 0.
          type: number
          example: 2
          minimum: 0
