<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'catalog')}">
<body>

<h2 th:text="${book.title}"></h2>
<h3>
    <span th:each="author, iStat : ${book.authors}">
        <span th:text="${author.name}"></span>
        <span th:text="${iStat.last} ? '' : ' - '"></span>
    </span>
</h3>
<div>
    <p th:text="${book.description}"></p>
</div>

<hr />
<h3 th:text="#{book.editions}"></h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{edition.isbn}">ISBN</th>
        <th th:text="#{edition.title}">Title</th>
        <th th:text="#{edition.language}">Language</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="edition : ${book.editions}">
        <td th:text="${edition.isbn}"></td>
        <td th:text="${edition.title}"></td>
        <td th:text="#{edition.languages.__${edition.language}__}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
