<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'catalog')}">
<body>

<h2 th:text="#{catalog.header}"></h2>

<div>
    <span><a th:if="${firstPageLinkName != null}" th:href="@{/catalog(link=${firstPageLinkName})}" title="First" class="fa fa-fast-backward"></a></span>
    <span><a th:if="${previousPageLinkName != null}" th:href="@{/catalog(link=${previousPageLinkName})}" title="Previous" class="fa fa-step-backward"></a></span>
    <span><a th:if="${nextPageLinkName != null}" th:href="@{/catalog(link=${nextPageLinkName})}" title="Next" class="fa fa-step-forward"></a></span>
    <span><a th:if="${lastPageLinkName != null}" th:href="@{/catalog(link=${lastPageLinkName})}" title="Last" class="fa fa-fast-forward"></a></span>
</div>

<table id="catalog" class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{catalog.books.title}">Title</th>
        <th th:text="#{catalog.books.authors}">Authors</th>
        <th th:text="#{catalog.books.description}">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><a th:href="@{/catalog/books/__${book.id}__}"><span th:text="${book.title}"></span></a></td>
        <td>
            <span th:each="author : ${book.authors}" th:text="${author.name + ' '}"/>
        </td>
        <td th:text="${book.description}"></td>
    </tr>
    </tbody>
</table>
<script th:inline="javascript">
    let pageUrl = "[(${pageUrl})]";
    window.addEventListener("load", (event) => {
        history.replaceState(null, "", pageUrl);
    });
</script>
</body>
</html>
